#========================================================
#
# sender/accepter/puller
role: ""
#
#========================================================
#
sender:
  dir: ""
  user: ""
  ip: ""
#
#========================================================
#
accepter:
  dir: ""
  user: ""
  ip: ""
#
#========================================================
#
puller:
  addr: ""
  https: false
# peried web
  pullmethod: ""
# unit: second
  pullperiod: 5
  dir: ""
  user: ""
  ip: ""
